.container-fluid{
    background-image: linear-gradient(to right, blue 20%, red);
    color: white;
}

.informacion{
    cursor: pointer;
    text-decoration: none;
}

.titulo{
    text-align: center;
    font-family: initial;
    background-color: rgb(66, 66, 128);
}

