<div class="container-fluid">
    <h5 class="titulo">Sobre nosotros</h5>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4">
            <a class="informacion" ><i class="bi bi-facebook"><b> Facebook</b></i> </a><br>
            <a class="informacion" ><i class="bi bi-whatsapp"><b> Whatsapp</b></i></a>
           
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <a class="informacion" ><i class="bi bi-twitter"><b> Twitter</b></i></a><br>
            <a class="informacion" ><i class="bi bi-instagram"><b> Instagram</b></i></a>        
        </div>
        <div class="col-12 col-sm-6 col-md-4">
           <a class="informacion">Informacio: Este es un trabajo Practico de Programacion y Servicios Web</a>
        </div>
    </div>
</div>
