<nav class="navbar navbar-expand-md ">
    <div class="container-fluid">
      <!-- ICONO -->
      <a class="navbar-brand" >
        <i class="bi bi-hand-thumbs-up-fill"></i>
         <span class="text-warning">Prog y Ser Web</span> 
      </a>
      <!-- BOTON DEL MENU -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#menu"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- ELEMENTOS DEL MENU COLAPSABLE -->
      <div class="collapse navbar-collapse" id="menu">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/form-producto" routerLinkActive="active-link"
              ><i class="bi bi-music-note-list"></i><b> Form Producto</b></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/productos" routerLinkActive="active-link"
              ><i class="bi bi-cash-coin"></i><b> Productos</b></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/form-transaccion" routerLinkActive="active-link"><i class="bi bi-brightness-alt-high-fill"></i><b> Transaccion</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/transacciones" routerLinkActive="active-link"><i class="bi bi-filetype-mp3"></i><b> Lista Transacciones</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/form-ticket/0" routerLinkActive="active-link"><i class="bi bi-filetype-mp3"></i><b> Agregar Ticket</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tickets" routerLinkActive="active-link"><i class="bi bi-filetype-mp3"></i><b> Tickets</b></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
