<div class="container-fluid">
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" > 
    <div class="carousel-indicators" >
      <button type="button" *ngFor="let pro of productos;let i=index" data-bs-target="#carouselExampleIndicators" [attr.data-bs-slide-to]="i" [class.active]="i=== recorridoCarrusel" aria-current="true" [attr.aria-label]="'Slide '+ (i+1)"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item" *ngFor="let pro of productos;let i=index" [class.active]="i === recorridoCarrusel">
       <!--TARJETAS-->
          <div class="row">
            <div class="card offset-4" style="width: 18rem;">
                    <img src="{{pro.imagen}}" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">{{pro.nombre}}</h5>
                    <p>Precio: {{pro.precio | currency}}</p>
                    <p class="card-text">{{pro.descripcion}}</p>
      
                    </div>
            </div>
       </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev" (click)="productoAnterior()">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next" (click)="productoSiguiente()">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>  