<div class="container-fluid">
    <div class="row">
      <div class="col-12 order-2 col-md-10 col-lg-8 order-lg-1 ">
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Espectador</th>
            <th scope="col">Catagoria</th>
            <th scope="col">Fecha de Compra</th>
            <th scope="col">Precio de Ticket</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tick of tickets ">
            <th >{{tick.espectador.nombre}}</th>
            <td>{{tick.categoriaEspectador}}</td>
            <td>{{tick.fechaCompra}}</td>
            <td>{{tick.precioTicket}}</td>
            <td>
              <button id="filtro" class="btn btn-info" (click)="modTicket(tick._id)">Modificar</button>
              <button class="btn btn-danger" (click)="eliminarTicket(tick._id)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
      </div>
      <form class="form col-12 col-sm-9 offset-sm-1 order-1 col-md-6 offset-md-3 col-lg-3 offset-lg-0 order-lg-2" action="">
         <h3>Filtrar</h3>
          <div class="form-group">
              <label for="categoria">Categoria</label>
              <input type="text" class="form-control" id="categoria" name="categoria" [(ngModel)]="categoria">
          </div>
          <br>
          <button id="filtro" class="btn btn-info" (click)="filtrarCategoria()">Filtrar</button>
          <button class="btn btn-danger" (click)="listTickets()">Ver todo</button>
      </form>
    </div>
  </div>
  